@media all and (max-width: 1200px) {
	
	/***********************/
	/*****REUSABLE ITEMS****/
	/***********************/
	.header-img-splash { margin-right: 0; }
	.header-title {
		font-size: 250%;
		font-weight: bold;
		padding-top: 15px;
	}
	/***********************/
	/*****ABOUT PAGE********/
	/***********************/
	
	.band-display-group .container {
		margin: 0 5px;
	}
	
	.bandmate-description {
		font-size: 80%;
	}
}

@media all and (max-width: 1000px) {
	
	/***********************/
	/******LINKS************/
	/***********************/
	
	.nav-links {
		display: none;
		float: none;
		background: #000;
		margin-top: -21px;
		padding-left: 20px;
	}
	.nav-links li {
		display: block;
		margin-left: 60px;
	}
	
	.mobile-nav-icon {
		color: #eee;
		display: inline;
		float: right;
	}
	
	.nav-links li a:link,
	.nav-links li a:visited {
		font-size: 100%;

	}

	.nav-links .about-link:hover,
	.nav-links .about-link:active {
		color: #fff;
		border-bottom: 3px solid transparent;

	}

	.nav-links .active-about:link,
	.nav-links .active-about:visited {
		color: #fff;
	}

	.nav-links .music-link:hover,
	.nav-links .music-link:active {
		color: #fff;
		border-bottom: 3px solid transparent;

	}

	.nav-links .active-music:link,
	.nav-links .active-music:visited {
		color: #fff;

	}

	.nav-links .events-link:hover,
	.nav-links .events-link:active {
		color: #fff;
		border-bottom: 3px solid transparent;

	}

	.nav-links .contacts-link:hover,
	.nav-links .contacts-link:active {
		color: #fff;
		border-bottom: 3px solid transparent;

	}

	.nav-links .active-contacts:link,
	.nav-links .active-contacts:visited {
		color: #fff;
	}
	
	
	/***********************/
	/*****ABOUT PAGE*********/
	/***********************/
	
	.modal-container {
		width: 60%;
		margin-left: 20%;
	}

	
	/***********************/
	/*****MAIN PAGE*********/
	/***********************/
	
	#main-page {
		background-repeat: no-repeat;
		margin-left: -200px;
	}
	
	
	
	.stay-up-header {
		font-size: 600%;
		margin-left: 20%;
	}
	
	#about .quote-group {
		width: 100%;
	}
}

@media all and (max-width: 900px) {
	.header-title { 
		margin-left: -40px;
		font-size: 190%;
		padding-top: 25px;
	}
	
	/*****about********/
	.blurb { font-size: 90%;}
	
	#our-story {
		padding: 30px 20px;
	}
	
	#about .quote-group { width: 110% !important; }
	
	.quote-text {
		width: 70%;
		font-size: 85%;
		line-height: 1.5em;
	}
	
	.normal-display-i { display: none; }
	
	.small-display-i {
		display: inline;
		padding: 25px;
		position: absolute;
		left: 40px;
		top: 10px;
	}
	
	/*****music********/
	.announcement-group {
		margin-left: 70px;
		width: 90%;
	}
	
	.music-icon-3x {
		padding: 30px 30px;
		left: 39px;
		background: none;
	}
	
	.ep {
		padding-right: 20px;
	}
	.video-text { width: auto;}
	
	iframe { width: 100%;}
	#video-container { width: 80%;}
	/*****events*******/
	#events-list { width: 700px; }
	
	#events-list li div div h2 {
		font-size: 130%;
		width: 50%;
		margin-left: 25%;
	}
	
	#events-list ul li div img { height: 85%; }
	
	#events-list li div div h4 { 
		font-size: 80%;
		font-weight: 500;
	}
	
	/*****contacts*******/
	.contact-form-header { font-size: 100%; }
	
	#contact-form { width: 600px; }
	
	.input-group label {
		padding-right: 10px;
		font-size: 80%;
		font-weight: bold;
	}
	
	.wysiwyg {
		width: 100%;
		margin-left: 0%;
	}
	.message-group label {display: none;}

	.submit-button { margin-left: 80%; }

	.message-group label {
		top: 20px;
		left: 10px;
		width: 100px;
	}
}

@media all and (max-width: 800px) {	
	
	#main-page {
		margin-left: -225px;
	}
	
	#our-story {
		margin-left: 0;
		margin-right: 0;
	}
	
	.blurb {
		font-size: 85% !important;
	}
	
	.stay-up-header {
		font-size: 500%;
		margin-left: 25%;
	}
	
	
	.bandmate-description {
		font-size: 55%;
		font-weight: bold;
	}
	
	#about .quote-group { margin-left: -80px; }
	
	.quote-icon-5x {
		display: none;
	}
	
	.quote-text {
		width: 80%;
		padding-right: 10px;
		font-size: 80%;
	}
	
	.small-display-i {
		left: 10px;
		top: 10px;
	}
	.video-text .big { font-size: 300%;	}
	
	#video-container {width: 500px;}
	.quote-group cite { margin-left: 45%; }

	.music-icon-3x {
		padding: 18px 20px;
		left: 4%;
	}
	
	.announcement-group {
		margin-left: 27px;
	}
	#events .events-bg {
		height: 50px;
	}
	#events .header-img-splash {
		margin-top: 0px;
		width: 188px;
	}
	#events .events-text { 
		font-size: 160%;
		padding-top: 16px;
	}
	#events-list li div span { 
		margin-left: 40%;
		margin-bottom: 10px;
		position: relative;
	}
	
	#events-list { width: 550px; }
	#events-list li {padding: 0 3px;}
	
	#events-list ul li div img { display: inline; }
	#events-list li div div h3,
	#events-list li div div h4,
	#events-list li div div p { margin-left: 40%; }
	
	#events-list li div div h2 { margin-left: 45%;}
	
	.shout-out {
		font-size: 150%;
		margin-top: 330px;
		margin-bottom: 470px;
	}
}

@media all and (max-width: 700px) {
	#events-list ul li div img { display: none; }
	#events-list { width: 100%; }
	#events-list ul li {width: 100%; }
	#events-list li div div h2,
	#events-list li div div h3,
    #events-list li div div h4,
    #events-list li div div p { 
		width: 100%;
		margin: 0px auto;
	}
	#events-list li div span { 
		position: relative;
		width: 75%;
		margin-left: auto;
		margin-right: auto;
		right: 0;
	}
	.music-icon-3x { display: inline;}
	.video-text .big { font-size: 200%; }
	#video-container {width: 450px;}
	.contact-form-header { width: 80%; }
    #contact-form { width: 80%; }
	.modal-container {
		width: 70%;
		margin-left: 15%;
	}
}

@media all and (max-width: 650px) {
	#events .header-title { font-size: 160%;}
	#events .header-img-splash { display: none; }
	.music-icon-3x { display: none;}
	#video-container {width: 100%;}
	.submit-button { margin-left: 70%; }

}
@media all and (max-width: 550px) {
	#contacts { background-position: 42%;}
	#events .header-title { font-size: 160%;}
	#events-list ul li{font-size: 15px;}
	
	.footer-normal-i { display: none; }
	.footer-small-i { 
		display: inline;
		padding-left: .5em;
		padding-right: .5em;
	}
	
	#about .quote-container {
		margin-left: 0px;
		margin-right: 0px; 
	}
	.announcement-group {
		width: 80%;
	}
	.video-text .big { font-size: 175%; }
	.submit-button { margin-left: 60%; }
	.modal-container {
		width: 80%;
		margin-left: 10%;
	}
	
}

@media all and (max-width: 480px) {
	#logo-name {margin-left: -50px; }
	.logo img { 
		margin-right: 0px;
		height: 55px;
	}
	.header { height: 40px; }
	.header-img-splash { display: none; }
	.header-title { 
		font-size: 150%;
		padding-top: 5px;
	}
	.mobile-nav-icon { margin: 3px -40px 0 0;}
	#main-page { background-position: -25px; }
	.stay-up-header{ 
		font-size: 300%;
		margin-left: 30%;
		margin-top: 40%;
	}
	
	.stay-up-overlay {background: rgba(0, 0, 0, 0.4); }
	
	.mobile-correct { background: rgba(0, 0, 0, 0.4); }
	
	.music-mobile-correct { background: rgba(0, 0, 0, 0.1); }
	
	.footer-small-i { 
		padding-left: .25em;
		padding-right: .25em;
	}
	.nav-links { margin-left: -50px;}
	.col {
		display: block;
		margin: 20px auto;
		width: 200px;
	}
	
	#our-story { 
		margin: 75px 0;
		font-size: 70%;
	}
	
	#about .quote-group { 
		margin-top: 40px;
		margin-left: -30px !important;
	}
	
	.modal-container {
		width: 100%;
		margin-left: 0;
	}
	
	.quote-group cite { margin-left: 0px;}
    .video-text { 
        padding: 15px; 
        font-size: 18px;
    }
    .video-text .big { font-size: 150%; }
    .video-text cite { margin-left: 70%; }
    #video-container { 
        padding: 0px;
    }

    .quote-text {
        margin-left: 15%;
        width: 300px;
    }
	#music .ep { width: 85%; }
	#events .header-title { font-size: 100%;}
    #events-list { 
        
        margin-top: 50px;
    }
    #events-list ul li { margin-bottom: 50px;}
    
    
    #events-list li div div h2 { 
        padding-left: 3px;
    }
	.form-container {
		margin-left: 0;
		margin-right: 0;
	}
    .input-group label,
    .input-group .message-group { width: 100%; }
    .input-group {text-align: center;}
    .input-group .input-holder {
        border-left: none;
        margin: 0px;
        padding: 0px;
    }
    .message-group label {
        border: none;
        width: 288px;
        margin-left: -20px;
    }
    .input-group label { 
        text-align: left;
        padding-left: 10px;
    }
    .submit-button { margin-left: 50%; }
    .shout-out { 
        margin-bottom: 265px;
        font-size: 100%;
    }
	.wysiwyg { 
		width: 325px;
		margin-left: -40px;
	}
}

@media all and (max-width: 440px) {
	
	#about .quote-text {
		width: 75%;
	}
	#about #our-story {
		line-height: 1.6em;
	}
	#about #our-story h2 { 
		margin-left: 0px;
		font-size: 180%;
	}
	#about .story-container { 
		margin-left: 10px;
		margin-right: 10px;
	}
	.video-text{ font-size: 75%;}
	.video-text cite { margin-left: 60%;}
	#events .header-title { font-size: 75%;}
	footer .container {margin: 0;}
	.footer-small-i { 
		padding-left: .1em;
		padding-right: .1em;
	}
	
	
	.wysiwyg { 
        margin-top: 20px;
		width: 137%;
		margin-left: -40px;
    }
}

@media all and (max-width: 300px) {
	.wysiwyg { width: 170% }
	.submit-button { margin-left: 25%; }
	.header-title {font-size: 110%}
	.stay-up-header {
		font-size: 220%;
		margin-left: 35%;
	}
}




















