@media(max-width: 1200px) {
	
	/***********************/
	/*****REUSABLE ITEMS****/
	/***********************/
	
	.header-title {
		font-size: 250%;
		font-weight: bold;
		padding-top: 15px;
	}
	/***********************/
	/*****ABOUT PAGE********/
	/***********************/
	
	.band-display-group .container {
		margin: 0 5px;
	}
	
	.bandmate-description {
		font-size: 80%;
	}
}

@media(max-width: 1000px) {
	
	/***********************/
	/******LINKS************/
	/***********************/
	
	.nav-links {
		display: none;
		float: none;
		background: #000;
		margin-top: -21px;
		padding-left: 20px;
	}
	.nav-links li {
		display: block;
		margin-left: 60px;
	}
	
	.mobile-nav-icon {
		color: #eee;
		display: inline;
		float: right;
	}
	
	.nav-links li a:link,
	.nav-links li a:visited {
		font-size: 100%;

	}

	.nav-links .about-link:hover,
	.nav-links .about-link:active {
		color: #fff;
		border-bottom: 3px solid transparent;

	}

	.nav-links .active-about:link,
	.nav-links .active-about:visited {
		color: #fff;
	}

	.nav-links .music-link:hover,
	.nav-links .music-link:active {
		color: #fff;
		border-bottom: 3px solid transparent;

	}

	.nav-links .active-music:link,
	.nav-links .active-music:visited {
		color: #fff;

	}

	.nav-links .events-link:hover,
	.nav-links .events-link:active {
		color: #fff;
		border-bottom: 3px solid transparent;

	}

	.nav-links .contacts-link:hover,
	.nav-links .contacts-link:active {
		color: #fff;
		border-bottom: 3px solid transparent;

	}

	.nav-links .active-contacts:link,
	.nav-links .active-contacts:visited {
		color: #fff;
	}
	
	
	/***********************/
	/*****MAIN PAGE*********/
	/***********************/
	
	#main-page {
		background-repeat: no-repeat;
		margin-left: -200px;
	}
	
	
	
	.stay-up-header {
		font-size: 600%;
		margin-left: 20%;
	}	
}

@media(max-width: 900px) {
	
	
	.header-img-splash { margin-right: 0; }
	
	.header-title { margin-left: -40px; }
	
	/*****about********/
	.blurb { font-size: 90%;}
	
	#our-story {
		padding: 30px 20px;
	}

	
	.quote-group { margin-left: -40px !important; }
	
	.quote-text {
		width: 70%;
		font-size: 85%;
		line-height: 1.5em;
	}
	
	.normal-display-i { display: none; }
	
	.small-display-i {
		display: inline;
		padding: 25px;
		position: absolute;
		left: 40px;
		top: 10px;
	}
	
	/*****music********/
	.announcement-group {
		margin-left: 70px;
		width: 700px;

	}
	
	.music-icon-3x {
		padding: 30px 30px;
		left: 39px;
	}
	
	.ep {
		padding-right: 20px;
	}
	
	/*****events*******/
	#events-list { width: 700px; }
	
	#events-list li div div h2 {
		font-size: 130%;
		width: 50%;
		margin-left: 25%;
	}
	
	#events-list ul li div img { height: 85%; }
	
	#events-list li div div h4 { 
		font-size: 80%;
		font-weight: 500;
	}
	
	/*****contacts*******/
	.contact-form-header { font-size: 100%; }
	
	#contact-form { width: 600px; }
	
	.input-group label {
		padding-right: 10px;
		font-size: 80%;
		font-weight: bold;
	}
	
	.wysiwyg {
		margin-left: 120px;
		width: 350px;
		height: 250px;
	}

	.submit-button { margin-left: 370px; }

	.message-group label {
		top: 20px;
		left: 10px;
		width: 100px;
	}
}


@media(max-width: 800px) {	
	
	#main-page {
		margin-left: -225px;
	}
	
	.blurb {
		font-size: 85% !important;
	}
	
	.stay-up-header {
		font-size: 500%;
		margin-left: 25%;
	}
	
	
	.bandmate-description {
		font-size: 55%;
		font-weight: bold;
	}
	
	.quote-group {
		margin-left: -80px !important;
		width: 500px;
	}
	
	.quote-icon-5x {
		display: none;
	}
	
	.quote-text {
		width: 80%;
		padding-right: 10px;
		font-size: 80%;
	}
	
	.small-display-i {
		left: 10px;
		top: 10px;
	}
	
	.quote-group cite { margin-left: 45%; }

	.music-icon-3x {
		padding: 18px 20px;
		left: 53px;
	}
	
	.announcement-group {
		margin-left: 27px;
		width: 670px;
	}
	
	
	#events-list li div span { 
		margin-left: 40%;
		margin-bottom: 10px;
		position: relative;
	}
	
	#events-list { width: 550px; }
	
	#events-list li { padding-right: 15px; }
	
	#events-list li div div h3,
	#events-list li div div h4,
	#events-list li div div p { margin-left: 40%; }
	
	#events-list li div div h2 { margin-left: 45%;}
	
	#contacts { 
		background-size: 207%;
		background-position: -400px
	}
	
	.shout-out {
		font-size: 150%;
		margin-top: 330px;
		margin-bottom: 470px;
	}
}



@media(max-width: 550px) {
	.footer-normal-i { display: none; }
	.footer-small-i { 
		display: inline;
		padding-left: .5em;
		padding-right: .5em;
	}
}


@media(max-width: 480px) {
	#logo-name {margin-left: -50px; }
	.logo img { 
		margin-right: 0px;
		height: 55px;
	}
	.header { height: 40px; }
	.header-img-splash { display: none; }
	.header-title { 
		font-size: 150%;
		padding-top: 5px;
	}
	.mobile-nav-icon { margin: 3px -40px 0 0;}
	#main-page { background-position: -25px; }
	.stay-up-header{ 
		font-size: 300%;
		margin-left: 30%;
		margin-top: 40%;
	}
	
	.footer-small-i { 
		padding-left: .25em;
		padding-right: .25em;
	}
	.nav-links { margin-left: -50px;}
	.col {
		display: block;
		margin: 20px auto;
		width: 200px;
	}
	
	#our-story { 
		margin: 75px 0;
		font-size: 70%;
	}
	
	.quote-group { 
		width: 350px;
		margin-top: 40px;
		margin-left: auto;
		margin-right: auto;
	}
	
	.quote-group cite { margin-left: 0px;}
}





