/****BOXER COLOR THEME****/
/*#DFB992*****Beige*******/
/*#222********Dark Grey***/
/*#86BC8A*****Green*******/
/*#DB6E5E*****Salmon******/
/*#372B3A*****Deep Purple*/
/*#86A6B4*****V Lightblue*/
/*#556DA0*****Periwinkle**/
/*************************/


/********************/
/*-----SETUP--------*/
/********************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
	font-family: 'Lato', 'Arial', sans-serif;
	font-size: 20px;
    color: #fff;
}


/**************************/
/*-----REUSABLE ITEMS-----*/
/**************************/

.container {
	margin: 0 50px;
}

a:link,
a:visited {
	text-decoration: none;
	color: #aaa;
}

.clear {
	clear: both;
}

.active {
	cursor: default;
}

.nav-avoid {
	padding-top: 45px;
}

.header {
	height: 67px;
}

.header-title {
	margin-left: 80px;
	font-style: italic;
	font-size: 320%;
	font-weight: 200;
}

.header-img-splash {
	position: absolute;
	right: 0;
	top: 0;
	overflow-y: hidden;
	margin-right: 50px;
	margin-top: -20px;
}

/********************/
/*-----NAVIGATION-----*/
/********************/

nav {
	position: fixed;
	width: 100%;
	box-shadow: 0 4px 4px #222;
    background-color: #222;
	height: 45px;
	z-index: 9999;
}


#logo-name {
    display: inline-block;
    margin-left: 10px;
	margin-top: 5px;
	font-size: 150%;
	font-weight: 500;
	
}

.logo-link:link,
.logo-link:visited {
	color: #DFB992;
}

.logo {
    float: left;
}

.logo img {
	height: 70px;
	margin-top: -10px;
	margin-right: 10px;
}

.nav-links {
    float: right;
    list-style: none;
    margin-top: .5em;
}

.nav-links li {
    display: inline-block;
    margin-left: 40px;
}

.nav-links li a:link,
.nav-links li a:visited {
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 90%;
	font-weight: 500;
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.1s;
}

.nav-links li a:hover,
.nav-links li a:active {
	color: #fff;
    border-bottom: 3px solid #fff;
    transition: border-bottom 0.1s;
}

.nav-links .active:hover,
.nav-links .active:active {
	color: #aaa;
	border-bottom: 3px solid transparent;
	
}

.nav-links .active:link,
.nav-links .active:visited {
	padding-left: 10px;
	padding-right: 10px;
	margin-right: -10px;
	border-left: 3px solid #aaa;
	border-right: 3px solid #aaa;
	border-radius: 3px;
}

/***********************/
/*------MAIN PAGE------*/
/***********************/

#main-page {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://source.unsplash.com/random/1000x1000/?calm');
	background-size: cover;
	height: 95vh;
}




/***********************/
/*--------ABOUT--------*/
/***********************/

.about-header {
	background-color: rgba(223, 185, 146, 0.87);  //#DFB992
	color: #372B3A;  //Deep purple
}






/********************/
/*------FOOTER------*/
/********************/

footer {
    background-color: #222;
	height: 10vh;
	padding-top: 1em
}

footer .container {
	text-align: center;
}


.social-links {
    list-style: none;
}

.social-links li {
    display: inline;
	padding: 0 2%;
}

/***** Link Hover Effects ****/


.fb:hover,
.fb:active {
	color: #3b5998;
}

.sp:hover,
.sp:active {
	color: #1DB954;
}

.sc:hover,
.sc:active {
	color: #f70;
}

.yt:hover,
.yt:active {
	color: #f00;
}

.ap:hover,
.ap:active {
	color: #fff;
}

.in:hover,
.in:active {
	color: #8a3ab9;
}




